absl-py==0.2.2
astor==0.7.1
bleach==1.5.0
gast==0.2.0
grpcio==1.13.0
html5lib==0.9999999
numpy==1.14.5
protobuf==3.6.0
qutip==4.2.0
scipy==1.1.0
six==1.11.0
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
